:root {
  --Font-family: Rubik;
  --ColorBg: #3cdbc0;
  --Colortext: #ffffff;
  --Colormenu: #4a4a4a;
}
* {
  margin: 0;
}
.body {
  font-family: var(--Font-family);
}
.header {
  width: 100vw;
  height: 117px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Colortext);
  padding-bottom: 13px;
}
.header .header-logo {
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header .header-menu {
  padding-top: 10px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline-start: 0px;
}
.header .header-blog {
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  color: var(--Colormenu);
  font-size: 16px;
  text-transform: uppercase;
}
.header .header-contact {
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  color: var(--Colormenu);
  font-size: 16px;
  text-transform: uppercase;
}
.main {
  background-color: var(--ColorBg);
  color: var(--Colortext);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* margin-top: 20vw; */
}
.main .main-text {
  font-size: 30px;
  text-align: center;
  word-spacing: 100rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header-logo {
    margin: 0;
  }

  .main .main-text {
    padding-left: 50%;
    padding-right: 50%;
    font-size: 40px;
  }
}
