:root {
  --Font-family: Rubik;
  --ColorBg: #3cdbc0;
  --Colortext: #ffffff;
  --Colormenu: #4a4a4a;
}
* {
  margin: 0;
}
.header {
  height: 90px;
  padding-top: 10px;
  padding-bottom: 13px;
}
.header .header-logo {
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.header .header-menu {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Font-family);
}
.header .header-blog {
  padding-right: 20px;
  text-decoration: none;
  color: var(--Colormenu);
  font-size: 16px;
  text-transform: uppercase;
}
.header .header-contact {
  text-decoration: none;
  color: var(--Colormenu);
  font-size: 16px;
  text-transform: uppercase;
}
.main {
  background-color: var(--ColorBg);
  color: var(--Colortext);
  font-family: var(--Font-family);
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main-text {
  font-size: 30px;
  text-align: center;
  padding-left: 30px;
  padding-right: 50px;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header-logo {
    margin: 0;
  }
  .header .header-menu {
    padding-right: 30;
  }
  .main .main-text {
    padding-left: 400px;
    padding-right: 400px;
    font-size: 40px;
  }
}
